<nav>
  <a href="/" id="logo">
    <h2>FLōGRID</h2>
  </a>
  
  <div class="nav-cluster">
    <a href="/join" class="btn-light btn">
      <p>Sign Up</p>
    </a>

    <a href="/login" class="btn-accent btn">
      <p>Sign In</p>
      <img src="/icons/20px-white/log-out.svg" alt="">
    </a>
  </div>
</nav>