<div id="top-nav">
  <div class="current-page">
    <img src="<%= pageIcon %>" alt="">
    <h1><%= currentPage %></h1>
  </div>
  <div class="btn-light">
    <img src="/icons/20px-white/user.svg" alt="">
    <p>My Account</p>
  </div>
</div>