<%- include("auth/partials/landingHtmlHeader") %>
<%- include("auth/partials/nav") %>

<header>

  <div class="header-content">
    <div class="header-text">
      <h1>Organize Every Project from Idea to Launch</h1>
      <p>A modern Project Management dashboard that helps teams plan, track, and collaborate effortlessly.</p>
    </div>
    
    <a href="/join" class="btn btn-accent">
      <p>Get Started</p>
      <img src="/icons/20px-white/star.svg" alt="star">
    </a>
  </div>
  
  <div class="splash-graphic">
    <img src="" alt="">
  </div>

</header>



<%- include("auth/partials/footer") %>