@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  /* Root Colors */
  --white: #F6F9FA;
  --light-grey: #a0b9ca;
  --grey: #87A4B7;
  --dark-grey: #5D7683;
  --dark: #191D21;

  /* Level 1 */
  --dark-1: #1E242A;
  --dark-1-border: #293541;

  /* Level 2 */
  --dark-2: #242D36;
  --dark-2-border: #324353;

  /* Level 3 */
  --dark-3: #2D3843;
  --dark-3-border: #3F556B;

  /* Accent Colors */
  --accent-dark-blue: #08444e;
  --accent-blue: #00697C;
  --accent-light-blue: #80c4df;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  scrollbar-color: var(--dark-3-border) var(--dark-2);
  scrollbar-width: normal;
}

*::-webkit-scrollbar {
  height: .75rem;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--grey);
}

*::-webkit-scrollbar-track {
  background: var(--dark-2);
  border-radius: .5rem;
}


html {
  background-color: var(--dark);
  
}

body {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: auto 1fr;
  height: calc(100vh);
  width: calc(100vw);
  overflow: none;
}

main {
  overflow: hidden;
  display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, input, button, table, tr, td, thead, tbody, small, label, input, textarea, .flatpickr-calendar {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: var(--white);
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h5, label {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: .75rem;
  color: var(--dark-grey);
}

small {
  font-size: .85rem;
  color: var(--dark-grey);
  font-weight: 400;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  border: none;
}

legend {
  margin-bottom: 2rem;
}

input, textarea, select, option {
  background-color: var(--dark-2);
  border: 1.5px solid var(--dark-2-border);
  border-radius: 4px;
  padding: .5rem .75rem .65rem;
  color: var(--light-grey);
  width: 100%;
  height: 100%;
}
select, option {
  text-transform: capitalize;
}

label {
  display: grid;
  grid-template-columns: 1fr auto;
}



textarea {
  min-height: 5rem;
  max-height: 15rem;
  field-sizing: content;
  resize: vertical;
}

::placeholder {
  color: var(--dark-grey)
}

#view-split {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#main-view {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.centered {
  text-align: center;
  width: 100%;
}



/* BUTTON STYLES */

.btn-light {
  display: flex;
  align-items: center;
  gap: .7rem;

  background-color: var(--dark-3);
  padding: .65rem 1rem .75rem;
  border-radius: 8px;
  cursor: pointer;
  border: 0;
  text-align: center;
}

.btn-light:hover {
  background-color: var(--accent-blue);
}

.btn-light .selected {
  background-color: var(--accent-blue);
}

.btn-light:hover .selected {
  background-color: var(--accent-light-blue);
}



.btn-accent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .7rem;

  background-color: var(--accent-blue);
  padding: .65rem 1rem .75rem;
  border-radius: 8px;
  cursor: pointer;
  border: 0;
}

.btn-accent:hover {
  background-color: var(--accent-dark-blue);
}

.btn-ghost {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
  padding: .5rem .75rem .6rem;
  background: transparent;
  border: 0;
}

.btn-ghost p {
  color: var(--light-grey);
  font-size: .85rem;
}

.btn-ghost:hover p {
  color: var(--white);
}



.btn-small {
  padding: .5rem .85rem .6rem;
  border-radius: 6px;
  font-size: .85rem;
  font-weight: 400;
}

.btn-center {
  width: 100%;
  text-align: center;
}



/* SIDE NAVIGATION */
.side-nav {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: calc(100vh - 2rem);
  width: 15rem;
  gap: .75rem
}

#logo {
  padding: .5rem 0;
  color: var(--accent-light-blue);
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.5rem;
  transition: .25s;
}
#logo:hover {
  color: var(--white);
}

#nav-links {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.nav-cluster {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

nav li {
  border-radius: 4px;
  transition: .125s
}

nav li:hover {
  background-color: var(--dark-1);
}

nav li a {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-decoration: none;
  padding: .5rem .75rem;
  align-items: center;
}

nav li a img {
  height: 1.25rem;
  width: 1.25rem;
}
nav li a p {
  color: var(--grey);
  letter-spacing: .75px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-project {
  height: 1rem;
  width: 1rem;

  border: 2px solid;
  border-radius: 4px;
}

.current-nav {
  background-color: var(--dark-2);
  
}
.current-nav a p {
  color: var(--white);
}

#nav-last {
  padding-top: .5rem;
  border-top: 2px solid var(--dark-1-border);
}

#nav-last a p {
  color: var(--dark-grey);
}





/* TOP NAVIGATION */

#top-nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto auto;
}

#top-nav div {
  display: flex;
  align-items: center;
}

#top-nav .current-page {
  gap: 1rem;
}

#top-nav .current-page h1 {
  font-size: 2rem;
  color: var(--grey);
  letter-spacing: .75px
}

#top-nav .current-page img {
  height: 1.5rem;
  width: 1.5rem;
}

#top-nav p {
  font-size: .95rem;
}



/* PANELS */

.panel-level-1 {
  background-color: var(--dark-1);
  border: 1.5px solid var(--dark-1-border);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 1.25rem;
}

.panel-level-2 {
  background-color: var(--dark-2);
  border: 1.5px solid var(--dark-2-border);
}

.panel-header {
  display: grid;
  grid-template-columns: 1fr auto;
}

.panel-header-title {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: .75rem;
}

.panel-header-title img {
  height: 1.5rem;
  width: 1.5rem;
}






/* Dashboard - My projects */


.horizontal-list {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  overflow-x: auto;
}

.project-card {
  max-width: 300px;
  min-width: 250px;
  width: 100%;

  padding: 1.25rem 1.25rem;
  border-radius: 6px;
  cursor: pointer;
}

.project-card a {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.project-card:hover {
  background-color: var(--dark-3);
  border-color: var(--dark-3-border);
}

.project-card-header {
  display: grid;
  grid-template-columns: 1fr auto;
}

.project-card .project-color {
  height: 1.5rem;
  width: 1.5rem;

  border: 2px solid;
  border-radius: 4px;
}

.project-card-content {
  display: flex;
  flex-direction: column;
  gap: .7rem;
}

.project-card h3 {
  font-size: 1.5rem;
  font-weight: 700;

}

.project-card ul {
display: flex;
flex-direction: column;
gap: .25rem;
}

.project-card li {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: .5rem;
}

.add-card {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 1.5rem 1.125rem;
  border-radius: 6px;
  cursor: pointer;
}

.add-card:hover {
  background-color: var(--dark-3);
  border-color: var(--dark-3-border);
}

.new-icon {
  height: 1.5rem;
  width: 1.5rem;
}



/* Dashboard - My Tasks */

.fill-height {
  height: 100%;
}

.collection-color {
  height: 1.25rem;
  width: 1.25rem;
  border: 2px solid;
  border-radius: 4px;
}

.task-table {
  
}

.task-table-row {
  width: 100%;
  display: grid;
  grid-template-columns: auto 15rem 1fr 12.5rem 6rem;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.task-table-row {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table-row-link:hover {
  background-color: var(--dark-2);
  border-radius: 6px;
}

.task-table-col {
  display: flex;
  flex-direction: column;
  height: 3rem;
  align-items: start;
}

.task-table-row > * {
  padding: .5rem;
  min-width: 2rem;
}

.task-table h5 {
  padding: .5rem .5rem 1rem;
  margin-bottom: .5rem;
  border-bottom: 2px solid var(--dark-2-border);
}

.task-table-row p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-strong {
  font-weight: 600;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
}

.table-weak {
  font-size: 1rem;
  font-weight: 500;
  color: var(--grey);
}

.board-color {
  height: 1rem;
  width: 1rem;
  border-radius: 4px;
  border: 2px solid;
}




/* MODALS */

#newProject {
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 34rem;
  
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding: 1rem;
  background-color: var(--dark-1);
  border: 1.5px solid var(--dark-1-border);
  border-radius: 8px;
}

.modal-hidden {
  visibility: hidden;
}


.modal-controls {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  border-bottom: 2px solid var(--dark-2-border);
  padding-bottom: 1rem;
}

.modal-controls > * {
  width: fit-content;
}

.section-intro {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.input-flex {
  display: flex;
  flex-direction: column;
  gap: .75rem
}

.input-flex div:not(.input-flex) {
  display: flex;
  flex-direction: column;
  gap: 0rem
}

.input-large {
  font-size: 1.5rem;
  padding: .75rem .75rem .85rem;
}

.form-split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#editProject {
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 34rem;

  display: grid;
  grid-template-rows: 1fr auto;

  padding: 1rem;
  background-color: var(--dark-1);
  border: 1.5px solid var(--dark-1-border);
  border-radius: 8px;
  overflow-y: auto;
}

#editProject form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


#newTask {
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 34rem;

  display: grid;
  grid-template-rows: 1fr auto;

  padding: 1rem;
  background-color: var(--dark-1);
  border: 1.5px solid var(--dark-1-border);
  border-radius: 8px;
}

#newTask form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


/*  KANBAN BOARD */

#kanban {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  scroll-behavior: auto;
  padding-bottom: .75rem;
}

.kanban-collection {
  display: flex;
  flex-direction: column;
  min-width: 22.5rem;
  max-width: 32.5px;
  width: 100%;
}

.kanban-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: end;
  gap: 1rem;
}

.kanban-title {
  font-size: 1.5rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collection-size {
  font-size: 1.125rem;
  color: var(--grey);
}

.collection-color {
  height: 6px;
  border-radius: 3px;
  width: 100%;
  border: none;
}

.kanban-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task-card-add {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 6px;
}

.task-card-add:hover {
  background-color: var(--dark-3);
  border-color: var(--dark-3-border);
  cursor: pointer;
}

.task-card {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 1rem;
  border-radius: 6px;
  gap: 1rem;
}

.task-card:hover {
  background-color: var(--dark-3);
  border-color: var(--dark-3-border);
  cursor: pointer;
}

.kanban-task-head {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
  gap: 1rem;
}

.kanban-task-head img {
  padding: .25rem 0
}

.kanban-task-head h3 {
  font-size: 1.35rem;
  color: var(--white);
  font-weight: 700;
}

.priority {
  color: var(--dark);
  font-size: .65rem;
  font-weight: 700;
  padding: .2rem .6rem .25rem;
  text-transform: capitalize;
  width: fit-content;
  border-radius: 1rem;
}

.kanban-task-footer {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.kanban-task-footer p {
  font-weight: 400;
  color: var(--grey);
}

.kanban-task-comments {
  display: flex;
  align-items: center;
  gap: .25rem;
}






/* NEW TASK */

.task-title-input {
  background: none;
  border: none;

  height: fit-content;
  padding: .5rem 0;
  
  font-size: 1.75rem;
  color: var(--white);
  margin-bottom: 1rem;
  field-sizing: content;
  min-height: 1lh;
  max-height: 3lh;
  resize: none;
}

.task-title-input::placeholder {
  color: var(--grey);
}

.task-title-input:focus {
  outline: none;
}

.input-cluster {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-horizontal label {
  width: 7.5rem;
}

.input-horizontal h5 {
  width: 7.5rem;
}

.input-horizontal input, .input-horizontal select {
  width: fit-content;
}

/* EDIT TASK */

.comment-form {
  position: relative;
  display: grid;
  grid-template-rows: auto minmax(0 1fr) auto;
  max-height: 20rem;
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  overflow: auto;
}

.comment-list li {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: .5rem 0;
  align-items: center;
}

.comment-pfp {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  background-color: var(--dark-3-border);
}

.comment-list .comment-contents {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.comment-list .comment-info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.comment-item {
  font-size: .9rem;
  font-weight: 500;
}

.comment-list .comment-info p {
  font-size: .75rem;
  font-weight: 400;
  color: var(--dark-grey);
}

.comment-form h5 {
  width: 100%;
  padding-bottom: .75rem;
  border-bottom: 2px solid var(--dark-3-border);
}

.comment-input {
  padding: .75rem;
  padding-right: 3rem;
  height: fit-content;
}

.comment-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  padding: .4rem;
  background-color: var(--accent-blue);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

/* CHECKBOX */

.secondary-controls {
  display: grid;
  grid-template-columns: 1fr auto;
}

.secondary-controls button {
  padding: .6rem 1rem .75rem;
  background-color: var(--dark-3);
  border: none;
  border-radius: 6px;
  color: var(--grey);
  cursor: pointer;
}

.is-completed-checkbox {
  display: flex;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
  padding: .6rem 1rem .75rem;
  background-color: var(--dark-3);
  width: fit-content;
  border-radius: 6px;
  transition: .125s;
}

.is-completed-checkbox:hover {
  background-color: var(--dark-3-border);
}

.is-completed-checkbox input[type="checkbox"] {
  display: none;
}

.is-completed-checkbox .checkbox-icon {
  width: 1rem;
  height: 1rem;
}

.is-completed-checkbox span {
  font-size: .75rem;
  font-weight: 600;
  color: var(--grey);
  letter-spacing: auto;
  text-transform: none;
}

.is-completed-checkbox input[type="checkbox"]:checked + span {
  color: var(--white);
}

/* DATE PICKER */

#date-picker {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  width: fit-content;
}

#date-image {
  height: 1.75rem;
  width: 1.75rem;
  padding: .4rem;
  background: var(--dark-3);
  border-radius: 1rem;
}

#date-label {
  color: var(--grey);
  font-size: .85rem;
  text-transform: none;
  letter-spacing: auto;
  font-weight: 500;
  width: fit-content;
}

#date-picker {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  position: relative;
  /* needed for absolute input positioning */
}

#date-picker input {
  background-color: transparent;
  border: 0;
  padding: .5rem .125rem;
}

#date-picker input:focus {
  outline: none;
}

/* Hide the input but keep it clickable */
input[type="date"] {
  display: none;
}




/* EXTRA */

.greeting {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.greeting p {
  font-weight: 500;
  color: var(--dark-grey);
}

.greeting h2 {
  font-weight: 600;
  font-size: 2rem;
}









/* PRIORITIES */

.low-priority {
  background-color: #89b8c0;
}

.medium-priority {
  background-color: #dbbe88;
}

.high-priority {
  background-color: #da837d;
}