<form id="newTask" action="/kanban/<%= board._id %>" method="POST">

  <!-- Controls -->
  <%- include("../../partials/modals/partials/modalControls", { btnText1: "Close" , btnIcon1: null,
    btnText2: "Save Changes" , btnIcon2: "/icons/20px-white/save.svg" }) %>

</form>