<%- include("../partials/htmlHeader") %>

  <main>
    <form action="/kanban/<%= board._id %>?_method=delete" method="POST">
      <button type="submit">Delete this Board</button>
    </form>
    <a href="/kanban/<%= board._id %>/edit">Edit this Board</a>
    <h1>Inner Kanban Board</h1>
    <h2><%= board.title %></h2>

  </main>