<div class="modal-controls">

  <button class="btn-light btn-small" type="button" id="close" onclick="clickEvent(event)">
    <p><%= btnText1 %></p>
    <% if (btnIcon1 != null) { %>
      <img src="<%= btnIcon1 %>" alt="">
    <% } %>
  </button>


  <button class="btn-accent btn-small" type="submit">
    <p><%= btnText2 %></p>
    <% if (btnIcon2 != null) { %>
      <img src="<%= btnIcon2 %>" alt="">
    <% } %>
  </button>


  <script>
    function clickEvent(event) {
      const action = event.currentTarget.id;
      if (action === "close") {
        const modal = event.currentTarget.parentNode.parentNode;
        modal.classList.toggle("modal-hidden");
      } else {

      }
    }
  </script>


</div>