<div class="modal-controls">

  <button class="btn-light btn-small">
    <p><%= btnText1 %></p>
    <% if (btnIcon1 != null) { %>
      <img src="<%= btnIcon1 %>" alt="">
    <% } %>
  </button>


  <button class="btn-accent btn-small" type="submit">
    <p><%= btnText2 %></p>
    <% if (btnIcon2 != null) { %>
      <img src="<%= btnIcon2 %>" alt="">
    <% } %>
  </button>

</div>